* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #0c1ba1;
  color: #fff;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-top: 2em;
}

.scroll-indicator {
  background-color: #eb126c;
  width: 100%;
  height: 10px;
}

p {
  text-align: center;
  margin: 1em 0;
}

.products-container {
  margin-top: 10em;
}
