* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  text-align: center;
  padding-top: 5rem;
}

.app {
  max-width: 350px;
}

p {
  color: #696969;
  max-width: 400px;
  margin-bottom: 2rem;
  margin-top: 0.3rem;
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

form input {
  width: 350px;
  padding: 0.7rem;
  border: 1px solid #c5c5c5;
  background-color: #e2e2e2;
  border-radius: 10px;
}

form button {
  padding: 0 1rem;
  border-radius: 10px;
  border: 0;
  background-color: orange;
  color: white;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
}

form button:hover {
  background-color: rgb(221, 144, 0);
}

.todos-head {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.todo-list li {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #e65a5a;
}

.clear-all-btn {
  background: #e65a5a;
  color: white;
  border: 0;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}
