* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(-210deg, #f5f9ff, #baceec);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#root {
  width: calc(100vw - 10px);
  max-width: 600px;
  padding: 1.5em;
  background-color: #fff;
  cursor: pointer;
  margin-top: 0.5rem;
  overflow: hidden;
}

.game-container {
  display: flex;
}
