* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
.header {
  background-color: #4e3cee;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-bottom: 5px solid #f76969;
  text-align: center;
}

.header h1 {
  color: white;
  font-weight: 500;
  font-size: 1.5em;
  text-transform: uppercase;
}

/* Buttons Container */
.button-container {
  display: flex;
  gap: 0.5em;
}

.button-container button {
  padding: 0.5em 1em;
  border: 2px solid orange;
  background-color: orange;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.button-container button:hover {
  background-color: rgb(255, 145, 0);
  border: 2px dotted white;
}

/* Tabs info container */
.tabs-info-container {
  max-width: 450px;
  width: calc(100vw - 2em);
  margin: 0 auto;
  padding: 2em 0;
}

.tabs-info-container h2 {
  margin-bottom: 0.5em;
}

.tabs-info-container p {
  opacity: 0.7;
  margin-bottom: 0.5rem;
}
