@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.App {
  display: flex;
  height: 100vh;
  background-color: #f03b59;
}

/* Music Player Card */
.player-container {
  max-width: 340px;
  height: 500px;
  padding: 1.5em;
  width: 100%;
  background: linear-gradient(to bottom left, #ffffff, #ffc6d0c2);
  border-radius: 1.5rem;
  margin: auto;
  overflow: hidden;
}

.player-container h2 {
  color: #f03b59;
  text-align: center;
}

.player-container .music-image {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: 2em auto;
  border: 3px solid #f03b59;
  box-shadow: 0 0 5rem #f03b5980;
  padding: 0.3em;
  animation: spin 15s linear infinite;
  position: relative;
}

.player-container .music-image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f03b59;
  opacity: 0.3;
  z-index: -1;
  border-radius: 50%;
  animation: spin 5s linear infinite;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.player-container .music-image img {
  border-radius: 50%;
}

.player-container .music-details {
  text-align: center;
}

.player-container .music-details .music-name {
  color: #1b1b1b;
  margin: 0.3em 0;
  font-size: 1.3rem;
}

.player-container .music-details .music-artist {
  color: #1b1b1b;
  opacity: 0.5;
}

.player-container .player-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2em;
}

.player-container .progress-bars {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.player-container .progress-bars .bar-1,
.player-container .progress-bars .bar-2 {
  width: 100%;
  height: 3px;
  border-radius: 0.5rem;
  background-color: #ffffff;
  cursor: pointer;
}

.player-container .progress-bars .bar-1 {
  position: absolute;
}

.player-container .progress-bars .bar-2 {
  background-color: #f03b59;
  width: 30%;
  z-index: 2;
}

.player-container .player-controls .buttons {
  display: flex;
  margin-top: 2em;
}

.player-container .player-controls .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff62;
  color: #1b1b1b;
  margin: 0 0.5em;
  cursor: pointer;
  transition: 0.3s;
}

.player-container .player-controls .buttons button i {
  font-size: 1.1rem;
}

.player-container .player-controls .buttons button:hover {
  background-color: #f03b59;
  color: #fff;
}

/* Animations & Transitions */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
